@page "/products/index"
@using Blazor.QRCode
@inject IDialogService DialogService
@* 
<QrCodeReader OnDetect="@DetectCallBack" OnError="@ErrorCallBack" />
 *@

<MudCardHeader>
    <MudTextField @bind-Value="_searchTerm" Placeholder="Search..." Variant="Variant.Outlined" Margin="Margin.Dense" Immediate="true" />
    <MudButton Variant="Variant.Outlined" Style="margin-left:5dp" Color="Color.Primary" OnClick="()=> OpenEditDialog(new Product())">Add</MudButton>
</MudCardHeader>
<MudCardContent>
    <MudGrid>
        @foreach (var product in _filteredProducts)
        {
            <MudItem xs="12" sm="6" md="4" lg="3">
                <MudCard Elevation="2">
                    <MudCardContent Class="d-flex align-center">
                        @*  <MudAvatar Size="Size.Large" Image="@product.ImageUrl" Alt="Product Image" Class="mr-2" /> *@
                        <MudAvatar>
                            <MudImage Src="@product.ImageUrl" Alt="An image of the best dog ever!"></MudImage>
                        </MudAvatar>
                        <div>
                            <MudText Typo="Typo.h6">@product.Name</MudText>
                            <MudText Typo="Typo.body1" Class="font-weight-bold">@product.Price?.ToString("C")</MudText>
                            <MudText Typo="Typo.body2">Stock: @product.StockQuantity</MudText>
                        </div>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Color="Color.Primary" OnClick="@(() => OpenEditDialog(product))">Edit</MudButton>
                        <MudButton Color="Color.Error" OnClick="@(() => ConfirmDelete(product.Id))">Delete</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
</MudCardContent>

<MudDialog @bind-Visible="_isDialogOpen" Options="this._dialogOptions">
    <TitleContent>@(_product.Id == 0 ? "Add Product" : "Edit Product")</TitleContent>
    <DialogContent>
        <MudTextField Variant="Variant.Outlined" Margin="Margin.Dense" Label="Bar Code" @bind-Value="_product.BarCode" AdornmentIcon="@Icons.Material.Outlined.QrCodeScanner" Adornment="Adornment.End" OnAdornmentClick="ScannBarCode" />
        <MudTextField Variant="Variant.Outlined" Margin="Margin.Dense" Label="Name" @bind-Value="_product.Name" Required="true" />
        <MudTextField Variant="Variant.Outlined" Margin="Margin.Dense" Label="Description" @bind-Value="_product.Description" Required="true" />
        <MudNumericField Variant="Variant.Outlined" Margin="Margin.Dense" Label="Price" Format="F1" @bind-Value="_product.Price" Required="true" />
        <MudNumericField Variant="Variant.Outlined" Margin="Margin.Dense" Label="Stock Quantity" @bind-Value="_product.StockQuantity" Required="true" />
        <MudItem>
            <MudFileUpload @ref="@_fileUpload"
                           T="IBrowserFile"
                           Accept="Image/*"
                           For="@(() => File)"
                           @bind-Files="File">
                <ActivatorContent>
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.CloudUpload">
                        Upload Files
                    </MudButton>
                </ActivatorContent>
            </MudFileUpload>
        </MudItem>

        <MudSelect Variant="Variant.Outlined" Margin="Margin.Dense" Label="Category" @bind-Value="categoryId">
            @if (categories.Count == 0)
            {
                <MudSelectItem value="0">
                    No Category
                </MudSelectItem>
            }
            @foreach (var item in categories)
            {
                <MudSelectItem value="@item.Id">
                    @item.CategoryName
                </MudSelectItem>
            }
        </MudSelect>


    </DialogContent>
    <DialogActions>
        <MudButton OnClick="SaveProduct" Color="Color.Primary">Save</MudButton>
        <MudButton OnClick="() => _isDialogOpen = false" Color="Color.Secondary">Cancel</MudButton>
    </DialogActions>
</MudDialog>

@code {
    private MudFileUpload<IBrowserFile> _fileUpload;
    private bool _processing = true;
    private int categoryId;
    @inject ISnackbar Snackbar;
    private List<Category> categories = [];
    [Inject]
    private IHttpClientService HttpClientService { get; set; }
    private List<Product> _products = new();
    private List<Product> _filteredProducts => _products.Where(p => string.IsNullOrEmpty(_searchTerm) || p.Name.Contains(_searchTerm, StringComparison.OrdinalIgnoreCase)).ToList();
    private string _searchTerm = "";
    private readonly DialogOptions _dialogOptions = new() { FullWidth = true };
    private Product _product = new();
    private bool _isDialogOpen = false;
    private IBrowserFile File { get; set; }
    [Inject]
    private IFormFactor FormFactor { get; set; }
    private void OpenEditDialog(Product product)
    {
        _product = product.Id == 0 ? new Product() : new Product
            {
                Id = product.Id,
                Name = product.Name,
                Description = product.Description,
                Price = product.Price,
                StockQuantity = product.StockQuantity,
                CategoryID = product.CategoryID,
                ImageUrl = product.ImageUrl
            };
        _isDialogOpen = true;
    }
    private async void ScannBarCode()
    {
        await FormFactor.ShowBarCodeScanner();
    }
    private async Task<string> ConvertFileToBase64(IBrowserFile file)
    {
        using var stream = file.OpenReadStream();
        using var memoryStream = new MemoryStream();
        await stream.CopyToAsync(memoryStream);
        byte[] fileBytes = memoryStream.ToArray();
        return Convert.ToBase64String(fileBytes);
    }
    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await RefreshProducts();
            await GetCategories();
        }
        await base.OnAfterRenderAsync(firstRender);
    }
    private async Task SaveProduct()
    {
        try
        {
            if (_product.Id == 0)
            {
                if (File != null)
                {
                    _product.Base64Url = await ConvertFileToBase64(File);
                }
                _product.CategoryID = categoryId;
                await HttpClientService.PostAsync<Product>("/api/products", _product);

            }
            else
            {

                await HttpClientService.PutAsync<Product>($"/api/products/{_product.Id}", _product);
            }

            await RefreshProducts();
            _isDialogOpen = false;
        }
        catch (HttpRequestException ex)
        {
            Snackbar.Add($"Error: {ex.Message}", Severity.Error);
        }
        catch (Exception ex)
        {
            Snackbar.Add($"An unexpected error occurred: {ex.Message}", Severity.Error);
        }
        finally
        {
            _processing = false;
            StateHasChanged();
        }

    }
    private async Task ConfirmDelete(int id)
    {
        var confirm = await DialogService.ShowMessageBox("Confirm", "Are you sure you want to delete this product?", "Yes", "No");
        if (confirm == true)
        {

            try
            {
                await HttpClientService.DeleteAsync($"/api/products/{id}");
                await RefreshProducts();
            }
            catch (HttpRequestException ex)
            {
                Snackbar.Add($"Error: {ex.Message}", Severity.Error);
            }
            catch (Exception ex)
            {
                Snackbar.Add($"An unexpected error occurred: {ex.Message}", Severity.Error);
            }
            finally
            {
                _processing = false;
                StateHasChanged();
            }






        }
    }
    public string text { get; set; } = "";

    public void DetectCallBack(string detectedString)
    {
    }

    public void ErrorCallBack(string errormesg)
    {
    }
    private async Task RefreshProducts()
    {
        try
        {
            //string id = FormFactor.GetSession()
            _products = await HttpClientService.GetAsync<List<Product>>("/api/products/all/store");
        }
        catch (HttpRequestException ex)
        {
            Snackbar.Add($"Error: {ex.Message}", Severity.Error);
        }
        catch (Exception ex)
        {
            Snackbar.Add($"An unexpected error occurred: {ex.Message}", Severity.Error);
        }
        finally
        {
            _processing = false;
            StateHasChanged();
        }
    }
    private async Task GetCategories()
    {
        try
        {
            categories = await HttpClientService.GetAsync<List<Category>>("/api/category");
            if (categories.Count > 0)
            {
                categoryId = categories[0].Id;
            }
        }
        catch (HttpRequestException ex)
        {
            Snackbar.Add($"Error: {ex.Message}", Severity.Error);
        }
        catch (Exception ex)
        {
            Snackbar.Add($"An unexpected error occurred: {ex.Message}", Severity.Error);
        }
        finally
        {
            _processing = false;
            StateHasChanged();
        }
    }
}
